In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sql = '''
-- Création schéma
DROP SCHEMA IF EXISTS "VENTE_ODS" CASCADE;
CREATE SCHEMA "VENTE_ODS";

SET SEARCH_PATH = "VENTE_ODS";

--- Création de la table "VENTE_ODS"."ODS_TYPE_CLIENT"
DROP TABLE IF EXISTS "ODS_TYPE_CLIENT" ;
CREATE TABLE "ODS_TYPE_CLIENT" 
(
"CD_TYPE_CLIENT" VARCHAR(50) NOT NULL,
"LB_TYPE_CLIENT" VARCHAR(100) NOT NULL,
"LB_NOM_FICHIER" VARCHAR(100) NOT NULL,
"DT_INSERTION"	TIMESTAMP NOT NULL,
"BL_LIGNE_ACTIVE" INTEGER NOT NULL,
"LB_JOB_NAME" VARCHAR(100) NOT NULL
);

--- Création de la table "VENTE_ODS"."ODS_CLIENT"
DROP TABLE IF EXISTS "ODS_CLIENT" ;
CREATE TABLE "ODS_CLIENT" 
(
"ID_CLIENT" VARCHAR(50) NOT NULL,
"NOM_CLIENT" VARCHAR(100) NOT NULL,
"PREN_CLIENT" VARCHAR(100) NOT NULL,
"CD_POSTAL_CLIENT" VARCHAR(100),
"VILLE_CLIENT" VARCHAR(100) NOT NULL,
"PAYS_CLIENT" VARCHAR(100) NOT NULL,
"REGION_CLIENT" VARCHAR(100) NOT NULL,
"CD_TYPE_CLIENT" VARCHAR(50) NOT NULL,
"LB_NOM_FICHIER" VARCHAR(100) NOT NULL,
"DT_INSERTION"	TIMESTAMP NOT NULL,
"BL_LIGNE_ACTIVE" INTEGER NOT NULL,
"LB_JOB_NAME" VARCHAR(100) NOT NULL
);


--- Création de la table "VENTE_ODS"."ODS_CATEGORIE"
DROP TABLE IF EXISTS "ODS_CATEGORIE";
CREATE TABLE "ODS_CATEGORIE" 
(
"CD_CATEGORIE" VARCHAR(50) NOT NULL,
"LB_CATEGORIE" VARCHAR(100) NOT NULL,
"LB_NOM_FICHIER" VARCHAR(100) NOT NULL,
"DT_INSERTION"	TIMESTAMP NOT NULL,
"BL_LIGNE_ACTIVE" INTEGER NOT NULL,
"LB_JOB_NAME" VARCHAR(100) NOT NULL
);


--- Création de la table "VENTE_ODS"."ODS_SOUS_CATEGORIE"
DROP TABLE IF EXISTS "ODS_SOUS_CATEGORIE" ;
CREATE TABLE "ODS_SOUS_CATEGORIE" 
(
"CD_SOUS_CATEGORIE" VARCHAR(50) NOT NULL,
"LB_SOUS_CATEGORIE" VARCHAR(100) NOT NULL,
"CD_CATEGORIE" VARCHAR(100) NOT NULL,
"LB_NOM_FICHIER" VARCHAR(100) NOT NULL,
"DT_INSERTION"	TIMESTAMP NOT NULL,
"BL_LIGNE_ACTIVE" INTEGER NOT NULL,
"LB_JOB_NAME" VARCHAR(100) NOT NULL
);


--- Création de la table "VENTE_ODS"."ODS_PRODUIT"
DROP TABLE IF EXISTS "ODS_PRODUIT" ;
CREATE TABLE "ODS_PRODUIT" 
(
"CD_PRODUIT" VARCHAR(50) NOT NULL,
"NOM_PRODUIT" VARCHAR(200) NOT NULL,
"PRIX_ACHAT_PRODUIT" NUMERIC NOT NULL,
"PRIX_VENTE_PRODUIT" NUMERIC NOT NULL,
"CD_SOUS_CATEGORIE" VARCHAR(50) NOT NULL,
"LB_NOM_FICHIER" VARCHAR(100) NOT NULL,
"DT_INSERTION"	TIMESTAMP NOT NULL,
"BL_LIGNE_ACTIVE" INTEGER NOT NULL,
"LB_JOB_NAME" VARCHAR(100) NOT NULL
);


--- Création de la table "VENTE_ODS"."ODS_VENTE"
DROP TABLE IF EXISTS "ODS_VENTE" ;
CREATE TABLE "ODS_VENTE" 
(
"ID_VENTE" 		 	VARCHAR(50)  NOT NULL,
"CD_PRODUIT" 	 	VARCHAR(50)  NOT NULL,	
"DT_VENTE" 			TIMESTAMP    NOT NULL,
"ID_CLIENT" 	 	VARCHAR(50)  NOT NULL,
"QTE_VENTE" 	 	INTEGER      NOT NULL,
"PRIX_ACHAT" 	 	NUMERIC      NOT NULL,
"PRIX_VENTE" 	 	NUMERIC      NOT NULL,
"LB_NOM_FICHIER" 	VARCHAR(100) NOT NULL,	
"DT_INSERTION"    	TIMESTAMP    NOT NULL,
"LB_JOB_NAME"	  	VARCHAR(100) NOT NULL
);


-- création de la table rejet
DROP TABLE IF EXISTS "ODS_REJET" CASCADE;
CREATE TABLE "ODS_REJET"
("LB_CHEMIN_FICHIER" VARCHAR(250) NOT NULL,
"LB_NOM_FICHIER" VARCHAR(100) NOT NULL,
"NUM_LIGNE_REJET" INTEGER NOT NULL,
"LB_LIGNE_REJET" VARCHAR(500) NOT NULL,
"LB_MESSAGE_REJET" VARCHAR(100) NOT NULL,
"LB_NOM_FLUX" VARCHAR(100) NOT NULL,
"DT_REJET" TIMESTAMP NOT NULL,
"LB_JOB_NAME" VARCHAR(100) NOT NULL);
'''

In [6]:
sql = sql.replace('"', '')

In [8]:
sql = sql.replace('VARCHAR', 'VARCHAR2')

In [12]:
sql = sql.replace('NUMERIC', 'NUMBER')
sql = sql.replace('INTEGER', 'NUMBER')

In [13]:
print(sql)

-- Création schéma
DROP SCHEMA IF EXISTS VENTE_ODS CASCADE;
CREATE SCHEMA VENTE_ODS;

SET SEARCH_PATH = VENTE_ODS;

--- Création de la table VENTE_ODS.ODS_TYPE_CLIENT
DROP TABLE IF EXISTS ODS_TYPE_CLIENT ;
CREATE TABLE ODS_TYPE_CLIENT
(
CD_TYPE_CLIENT VARCHAR2(50) NOT NULL,
LB_TYPE_CLIENT VARCHAR2(100) NOT NULL,
LB_NOM_FICHIER VARCHAR2(100) NOT NULL,
DT_INSERTION	TIMESTAMP NOT NULL,
BL_LIGNE_ACTIVE NUMBER NOT NULL,
LB_JOB_NAME VARCHAR2(100) NOT NULL
);

--- Création de la table VENTE_ODS.ODS_CLIENT
DROP TABLE IF EXISTS ODS_CLIENT ;
CREATE TABLE ODS_CLIENT
(
ID_CLIENT VARCHAR2(50) NOT NULL,
NOM_CLIENT VARCHAR2(100) NOT NULL,
PREN_CLIENT VARCHAR2(100) NOT NULL,
CD_POSTAL_CLIENT VARCHAR2(100),
VILLE_CLIENT VARCHAR2(100) NOT NULL,
PAYS_CLIENT VARCHAR2(100) NOT NULL,
REGION_CLIENT VARCHAR2(100) NOT NULL,
CD_TYPE_CLIENT VARCHAR2(50) NOT NULL,
LB_NOM_FICHIER VARCHAR2(100) NOT NULL,
DT_INSERTION	TIMESTAMP NOT NULL,
BL_LIGNE_ACTIVE NUMBER NOT NULL,
LB_JOB_NAME VARCHAR2(100) NOT NULL
);


--- Création de la table VENTE_ODS.ODS_CATEGORIE
DROP TABLE IF EXISTS ODS_CATEGORIE;
CREATE TABLE ODS_CATEGORIE
(
CD_CATEGORIE VARCHAR2(50) NOT NULL,
LB_CATEGORIE VARCHAR2(100) NOT NULL,
LB_NOM_FICHIER VARCHAR2(100) NOT NULL,
DT_INSERTION	TIMESTAMP NOT NULL,
BL_LIGNE_ACTIVE NUMBER NOT NULL,
LB_JOB_NAME VARCHAR2(100) NOT NULL
);


--- Création de la table VENTE_ODS.ODS_SOUS_CATEGORIE
DROP TABLE IF EXISTS ODS_SOUS_CATEGORIE ;
CREATE TABLE ODS_SOUS_CATEGORIE
(
CD_SOUS_CATEGORIE VARCHAR2(50) NOT NULL,
LB_SOUS_CATEGORIE VARCHAR2(100) NOT NULL,
CD_CATEGORIE VARCHAR2(100) NOT NULL,
LB_NOM_FICHIER VARCHAR2(100) NOT NULL,
DT_INSERTION	TIMESTAMP NOT NULL,
BL_LIGNE_ACTIVE NUMBER NOT NULL,
LB_JOB_NAME VARCHAR2(100) NOT NULL
);


--- Création de la table VENTE_ODS.ODS_PRODUIT
DROP TABLE IF EXISTS ODS_PRODUIT ;
CREATE TABLE ODS_PRODUIT
(
CD_PRODUIT VARCHAR2(50) NOT NULL,
NOM_PRODUIT VARCHAR2(200) NOT NULL,
PRIX_ACHAT_PRODUIT NUMBER NOT NULL,
PRIX_VENTE_PRODUIT NUMBER NOT NULL,
CD_SOUS_CATEGORIE VARCHAR2(50) NOT NULL,
LB_NOM_FICHIER VARCHAR2(100) NOT NULL,
DT_INSERTION	TIMESTAMP NOT NULL,
BL_LIGNE_ACTIVE NUMBER NOT NULL,
LB_JOB_NAME VARCHAR2(100) NOT NULL
);


--- Création de la table VENTE_ODS.ODS_VENTE
DROP TABLE IF EXISTS ODS_VENTE ;
CREATE TABLE ODS_VENTE
(
ID_VENTE 		 	VARCHAR2(50)  NOT NULL,
CD_PRODUIT 	 	VARCHAR2(50)  NOT NULL,
DT_VENTE 			TIMESTAMP    NOT NULL,
ID_CLIENT 	 	VARCHAR2(50)  NOT NULL,
QTE_VENTE 	 	NUMBER      NOT NULL,
PRIX_ACHAT 	 	NUMBER      NOT NULL,
PRIX_VENTE 	 	NUMBER      NOT NULL,
LB_NOM_FICHIER 	VARCHAR2(100) NOT NULL,
DT_INSERTION    	TIMESTAMP    NOT NULL,
LB_JOB_NAME	  	VARCHAR2(100) NOT NULL
);


-- création de la table rejet
DROP TABLE IF EXISTS ODS_REJET CASCADE;
CREATE TABLE ODS_REJET
(LB_CHEMIN_FICHIER VARCHAR2(250) NOT NULL,
LB_NOM_FICHIER VARCHAR2(100) NOT NULL,
NUM_LIGNE_REJET NUMBER NOT NULL,
LB_LIGNE_REJET VARCHAR2(500) NOT NULL,
LB_MESSAGE_REJET VARCHAR2(100) NOT NULL,
LB_NOM_FLUX VARCHAR2(100) NOT NULL,
DT_REJET TIMESTAMP NOT NULL,
LB_JOB_NAME VARCHAR2(100) NOT NULL);

## Nettoyage base de données immo

In [6]:
creation_table_immo = '''
BEGIN;


CREATE TABLE IF NOT EXISTS public.bien
(
    id_bien integer NOT NULL,
    id_commune character varying(6) COLLATE pg_catalog."default" NOT NULL,
    no_voie integer,
    type_voie character varying(4) COLLATE pg_catalog."default",
    indice_repetition character varying(5) COLLATE pg_catalog."default",
    voie character varying(50) COLLATE pg_catalog."default" NOT NULL,
    nombre_piece integer NOT NULL,
    surface_carrez real NOT NULL,
    surface_reelle_bati integer NOT NULL,
    type_local character varying(50) COLLATE pg_catalog."default" NOT NULL,
    CONSTRAINT bien_pkey PRIMARY KEY (id_bien)
);

CREATE TABLE IF NOT EXISTS public.commune
(
    id_commune character varying(6) COLLATE pg_catalog."default" NOT NULL,
    nom_commune character varying(50) COLLATE pg_catalog."default" NOT NULL,
    code_postal integer,
    id_departement character varying(3) COLLATE pg_catalog."default" NOT NULL,
    population integer,
    CONSTRAINT commune_pkey PRIMARY KEY (id_commune)
);

CREATE TABLE IF NOT EXISTS public.departement
(
    id_departement character varying(3) COLLATE pg_catalog."default" NOT NULL,
    nom_departement character varying(50) COLLATE pg_catalog."default" NOT NULL,
    id_region character varying(2) COLLATE pg_catalog."default" NOT NULL,
    CONSTRAINT departement_pkey PRIMARY KEY (id_departement)
);

CREATE TABLE IF NOT EXISTS public.region
(
    id_region character varying(2) COLLATE pg_catalog."default" NOT NULL,
    nom_region character varying(50) COLLATE pg_catalog."default" NOT NULL,
    CONSTRAINT region_pkey PRIMARY KEY (id_region)
);

CREATE TABLE IF NOT EXISTS public.vente
(
    id_vente integer NOT NULL,
    id_bien integer NOT NULL,
    date_vente date NOT NULL,
    valeur_fonciere real,
    CONSTRAINT vente_pkey PRIMARY KEY (id_vente)
);

ALTER TABLE IF EXISTS public.bien
    ADD CONSTRAINT id_commune FOREIGN KEY (id_commune)
    REFERENCES public.commune (id_commune) MATCH SIMPLE
    ON UPDATE NO ACTION
    ON DELETE NO ACTION
    NOT VALID;


ALTER TABLE IF EXISTS public.commune
    ADD CONSTRAINT id_departement FOREIGN KEY (id_departement)
    REFERENCES public.departement (id_departement) MATCH SIMPLE
    ON UPDATE NO ACTION
    ON DELETE NO ACTION
    NOT VALID;


ALTER TABLE IF EXISTS public.departement
    ADD CONSTRAINT id_region FOREIGN KEY (id_region)
    REFERENCES public.region (id_region) MATCH SIMPLE
    ON UPDATE NO ACTION
    ON DELETE NO ACTION
    NOT VALID;


ALTER TABLE IF EXISTS public.vente
    ADD CONSTRAINT id_bien FOREIGN KEY (id_bien)
    REFERENCES public.bien (id_bien) MATCH SIMPLE
    ON UPDATE NO ACTION
    ON DELETE NO ACTION
    NOT VALID;

END;

'''

In [7]:
creation_table_immo = creation_table_immo.replace('integer', 'NUMBER')
creation_table_immo = creation_table_immo.replace('real', 'NUMBER')
creation_table_immo = creation_table_immo.replace('character varying', 'VARCHAR2')

creation_table_immo = creation_table_immo.replace('CONSTRAINT', 'CONSTRAINTS')
creation_table_immo = creation_table_immo.replace('COLLATE pg_catalog."default"', '')
creation_table_immo = creation_table_immo.replace('IF NOT EXISTS public.', '')

creation_table_immo = creation_table_immo.replace('public.', '')
creation_table_immo = creation_table_immo.replace('''MATCH SIMPLE
    ON UPDATE NO ACTION
    ON DELETE NO ACTION
    NOT VALID''', '')

creation_table_immo = creation_table_immo.replace('IF EXISTS', '')

print(creation_table_immo)

BEGIN;


CREATE TABLE bien
(
    id_bien NUMBER NOT NULL,
    id_commune VARCHAR2(6)  NOT NULL,
    no_voie NUMBER,
    type_voie VARCHAR2(4) ,
    indice_repetition VARCHAR2(5) ,
    voie VARCHAR2(50)  NOT NULL,
    nombre_piece NUMBER NOT NULL,
    surface_carrez NUMBER NOT NULL,
    surface_reelle_bati NUMBER NOT NULL,
    type_local VARCHAR2(50)  NOT NULL,
    CONSTRAINTS bien_pkey PRIMARY KEY (id_bien)
);

CREATE TABLE commune
(
    id_commune VARCHAR2(6)  NOT NULL,
    nom_commune VARCHAR2(50)  NOT NULL,
    code_postal NUMBER,
    id_departement VARCHAR2(3)  NOT NULL,
    population NUMBER,
    CONSTRAINTS commune_pkey PRIMARY KEY (id_commune)
);

CREATE TABLE departement
(
    id_departement VARCHAR2(3)  NOT NULL,
    nom_departement VARCHAR2(50)  NOT NULL,
    id_region VARCHAR2(2)  NOT NULL,
    CONSTRAINTS departement_pkey PRIMARY KEY (id_departement)
);

CREATE TABLE region
(
    id_region VARCHAR2(2)  NOT NULL,
    nom_region VARCHAR2(50)  NOT NULL,
    CONSTRAINTS region_pkey PRIMARY KEY (id_region)
);

CREATE TABLE vente
(
    id_vente NUMBER NOT NULL,
    id_bien NUMBER NOT NULL,
    date_vente date NOT NULL,
    valeur_fonciere NUMBER,
    CONSTRAINTS vente_pkey PRIMARY KEY (id_vente)
);

ALTER TABLE  bien
    ADD CONSTRAINTS id_commune FOREIGN KEY (id_commune)
    REFERENCES commune (id_commune) ;


ALTER TABLE  commune
    ADD CONSTRAINTS id_departement FOREIGN KEY (id_departement)
    REFERENCES departement (id_departement) ;


ALTER TABLE  departement
    ADD CONSTRAINTS id_region FOREIGN KEY (id_region)
    REFERENCES region (id_region) ;


ALTER TABLE  vente
    ADD CONSTRAINTS id_bien FOREIGN KEY (id_bien)
    REFERENCES bien (id_bien) ;

END;